<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add crew member</title>
    <style>
    #formDiv {
        display: grid;
        grid-template-columns: 3;
    }
    .formDiv {
        padding: 10px;
    }
    .1column {
        grid-column: 3;
    }

<!--    #name {-->
<!--        grid-column: 3;-->
<!--    }-->

    </style>
</head>
<body>

    <div align="center">
        <form th:action="@{/addseafarer}" th:object="${seafarer}" method="post" >
            <div id="formDiv">
                <div class="formDiv 1column" id="name">
                    <label for="seafarerName">Name: </label>
                    <input id="seafarerName" th:field="*{seafarerName}" type="text" placeholder="name" />
                </div>
                <div class="formDiv 1column" id="register">
                    <label for="seafarerRegister">CIR number:</label>
                    <input id="seafarerRegister" th:field="*{seafarerRegister}" type="text" placeholder="register number" />
                </div>
                <div class="formDiv 2column">
                    <label for="seafarerDob">Date of Birth</label>
                    <input id="seafarerDob" th:field="*{seafarerDob}" type="date" name="seafarerDob">
                </div>
                <div class="formDiv 2column">
                    <label for="isOnboard">On board?</label>
                    <input id="isOnboard" type="checkbox" name="isOnboard" placeholder="false">
                </div>
                <div class="formDiv 2column">
                    <label for="embarkDate">Embark Date</label>
                    <input id="embarkDate" th:field="*{embarkDate}" type="date" name="embarkDate">
                </div>
                <div class="formDiv 2column">
                    <label for="disembarkDate">Disembark Date</label>
                    <input id="disembarkDate" th:field="*{disembarkDate}" type="date" name="embarkDate">
                </div>
                <div class="formDiv 3column">
                    <label for="seafarerRank">Rank</label>
                    <select th:field="*{seafarerRank}" id="seafarerRank" name="Rank">
                        <option th:each="rankOpt : ${T(com.example.mzord.models.Rank).values()}"
                        th:value="${rankOpt}" th:text="${rankOpt.displayValue}"></option>
                    </select>
                </div>
                <div class="formDiv 3column">
                    <label for="seafarerFunction">Function:</label>
                    <select th:field="*{seafarerFunction}" id="seafarerFunction" name="Function">
                        <option th:each="funcOpt : ${T(com.example.mzord.models.Function).values()}"
                                th:value="${funcOpt}" th:text="${funcOpt.displayValue}"></option>
                    </select>
                </div>
                <div>
                    <input type="submit" value="Add">
                </div>
    <!--            {-->
    <!--            "seafarer_dob": "1992-12-02",-->
    <!--            "is_onboard": true,-->
    <!--            "embark_date": "2020-09-28",-->
    <!--            "disembark_date": null,-->
    <!--            "seafarer_rank": "SEGUNDO_ON",-->
    <!--            "seafarer_function": "OQN"-->
    <!--            },-->
            </div>
        </form>
    </div>

</body>
</html>