<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Seafarers</title>
</head>
<body>

    <h2>List of seafarers on this boat</h2>

    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Seaman`s book number</th>
        </tr>
        <tr th:each="seafarer : ${seafarers}">
            <td th:text="${seafarer.id}">Id</td>
            <td th:text="${seafarer.name}">Name</td>
            <td th:text="${seafarer.register}">Seaman`s book number</td>
        </tr>
    </table>

</body>
</html>