<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Seafarers</title>
</head>
<body>

    <h2>On board</h2>

    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Seaman`s book number</th>
        </tr>
        <tr th:each="seafarer : ${seafarersOnBoard}">
            <td th:text="${seafarer.id}">Id</td>
            <td th:text="${seafarer.seafarerName}">Name</td>
            <td th:text="${seafarer.seafarerRegister}">Seaman`s book number</td>
        </tr>
    </table>

    <h2>Off board</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Seaman`s book number</th>
        </tr>
        <tr th:each="seafarer : ${seafarersOffBoard}">
            <td th:text="${seafarer.id}">Id</td>
            <td th:text="${seafarer.seafarerName}">Name</td>
            <td th:text="${seafarer.seafarerRegister}">Seaman`s book number</td>
        </tr>
    </table>
</body>
</html>